# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm
/dist

# Optional eslint cache
.eslintcache

# dotenv environment variable files
.env
.env.*
!.env.example
# General
.idea
howLoggingWorks.md
